:root {
  --color-input-primary: #6200ee;
  --color-input-primary-light: #6300ee83;
  --color-input-danger: #f44336;
  --color-input-success: #4caf50;
  --color-input-text: #333;
  --color-input-text-secondary: #fff;
  --color-input-background: #eee;
}
