<div class="container">
  <h1>Exemplos</h1>
  <form [formGroup]="form" class="row">
    <dss-input
      (blur)="testEvent($event)"
      (focus)="testEvent($event)"
      formControlName="name"
      placeholder="Full name"
      [errors]="{ required: 'Campo obrigatório.' }"
    ></dss-input>
    {{ { value: form.controls.name.value } | json }}

    <dss-input
      type="email"
      label="email: "
      formControlName="email"
      alignIcon="left"
      iconImage="/assets/brands/visa.png"
      [errors]="{ required: 'Campo obrigatório.', email: 'Email invalid.' }"
    ></dss-input>
    {{ { value: form.controls.email.value } | json }}

    <dss-input
      type="password"
      label="password: "
      formControlName="password"
      [errors]="{ required: 'Errro' }"
    ></dss-input>
    {{ { value: form.controls.password.value } | json }}

    <dss-input
      type="percent"
      label="Percent: "
      formControlName="percent"
    ></dss-input>
    {{ { value: form.controls.percent.value } | json }}
    {{ form.controls.percent.value | dssMask: "percent" }}

    <dss-input
      type="date"
      label="Current date: "
      formControlName="date"
      (onClickIcon)="testEvent($event)"
    ></dss-input>
    {{ { value: form.controls.date.value } | json }}

    <dss-input
      type="currency"
      label="Value: "
      formControlName="currency"
    ></dss-input>
    {{ { value: form.controls.currency.value } | json }}
    {{ form.controls.currency.value | dssMask: "currency" }}

    <dss-select
      label="State: "
      formControlName="state"
      [options]="[
        { label: 'Duplicata', value: 'DUPLICATA' },
        { label: 'Cheque', value: 'CHEQUE' },
        { label: 'Boleto', value: 'BOLETO' }
      ]"
      (change)="testEvent($event)"
      (blur)="testEvent($event)"
      (focus)="testEvent($event)"
    ></dss-select>
    {{ { value: form.controls.state.value } | json }}

    <dss-input
      type="cpf_cnpj"
      label="cpf cnpj: "
      formControlName="cpf_cnpj"
    ></dss-input>
    {{ { value: form.controls.cpf_cnpj.value } | json }}

    <dss-input
      type="rg_estadual"
      label="Rg Estadual: "
      formControlName="rg_estadual"
    ></dss-input>
    {{ { value: form.controls.rg_estadual.value } | json }}

    <dss-search
      formControlName="client"
      pathLabel="pessoa.razaoSocial"
      uri="{url}/Fornecedor/filtro/{value}"
      responseData="data"
      return="pessoa.id"
      [value]="valueStart"
    ></dss-search>
    {{ { value: form.controls.client.value } | json }}

    <dss-select
      label="city: "
      formControlName="city"
      [options]="option"
      [path]="{ 'label.value': 'value.id' }"
      [readonly]="true"
    ></dss-select>
    {{ { value: form.controls.city.value } | json }}

    <div class="mt-3">
      <dss-checkbox
        [line]="true"
        label="accept: "
        formControlName="accept"
      ></dss-checkbox>

      <dss-checkbox
        [line]="true"
        label="dark: "
        type="switch"
        formControlName="dark"
      ></dss-checkbox>
    </div>
    {{
      { dark: form.controls.dark.value, accept: form.controls.accept.value }
        | json
    }}

    <dss-text-area
      label="description: "
      formControlName="description"
      (blur)="testEvent($event)"
      (focus)="testEvent($event)"
    ></dss-text-area>
    {{ { value: form.controls.description.value } | json }}
  </form>
</div>
