<div class="container mt-5" dragScroll>
  <h1>Libs angular</h1>

  <mat-accordion multi>
    <button (click)="print()">print</button>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>Bootstrap - ng-inputs-bootstrap</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-bootstrap></ng-bootstrap>
    </mat-expansion-panel>

    <mat-expansion-panel ngPrint [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>Material - ng-inputs-material</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-material></ng-material>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> <h2>Masks - ng-masks</h2> </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-lib-masks></ng-lib-masks>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>INPUTS - ng-inputs</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-inputs-legacy></ng-inputs-legacy>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<link
  rel="stylesheet"
  href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
  integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
  crossorigin="anonymous"
/>

<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
  crossorigin="anonymous"
/>
<script
  src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
  integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
  integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
  crossorigin="anonymous"
></script>
